
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  :root {
   
  }


body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
    width: 60%;
    margin: 0 auto;
  }

  .centered {
    text-align: center;
  }

  /* Header */
header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 25px 0;
  }

  /*Styling view score and time at the top*/
  .HighScores p,
  .timer {
    font-size: 20px;
  }

  .HighScores p {
    color: black;
  }
  
/* Buttons*/

/* Buttons */
.btn-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin: 20px 0;
  }
  
  button {
    font-family: Arial, Helvetica, sans-serif;
    border: none;
    width: auto;
    overflow: visible;
    padding: 10px;
    background-color: plum;
    border-radius: 10px;
    font-size: large;
    margin: 10px;
    color: white;
  }
  
  button:hover {
    background-color: grey;
  }

  .hide {
    display: none;
  }
  
  /* change the colors*/
  .btn.correct {
    background-color: green;
  }
  
  .btn.wrong {
    background-color:red;
  }

  /* Wrapper for buttons */
.ButtonControls {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
  }

